{% extends 'base.html.twig' %}

{% block navbar %}navbar-light{% endblock %}

{% block title %} Se connecter {{ parent() }}{% endblock %}

{% block body %}
    <section class="py-xl bg-cover bg-size--cover" style="background-image: url('{{ asset('img/register_background.jpg') }}');background-position: center;background-attachment: fixed;background-repeat: no-repeat;" >
        <span class="mask bg-primary alpha-6"></span>
        <div class="container d-flex align-items-center no-padding">
            <div class="col">

                {% if error is defined %}
                    {% if error %}
                        <div class="alert alert-inverse alert-dismissible fade show" role="alert">
                            <span class="alert-inner--icon text-danger"><i class="fas fa-times"></i></span>
                            <span class="alert-inner--text">{{ error.message|trans }}</span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                {% endif %}

                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <div class="card bg-primary text-white">
                            <div class="card-body">
                                <button type="button" class="btn btn-primary btn-nobg btn-zoom--hover mb-5">
                                    <span class="btn-inner--icon"><svg class="svg-inline--fa fa-arrow-left fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="arrow-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"></path></svg><!-- <i class="fas fa-arrow-left"></i> --></span>
                                </button>
                                <span class="clearfix"></span>
                                <form action="{{ path('security_login') }}" method="POST">

                                    <center><h2 class="heading h2 text-white pt-3 pb-5">Connexion</h2></center>

                                    <div class="form-group">
                                        <input placeholder="Pseudo" required name="_username" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input placeholder="Mot de passe" required name="_password" type="password" class="form-control">
                                    </div>

                                    <div class="custom-control custom-checkbox mb-3">
                                        <input type="checkbox" class="custom-control-input" id="remember_me" name="_remember_me" checked>
                                        <label class="custom-control-label" for="remember_me">Se souvenir de moi</label>
                                    </div>

                                    <button type="submit" class="btn btn-block btn-lg bg-white mt-4">Se connecter</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </section>


{% endblock body %}
