{% extends 'base.html.twig' %}

{% block navbar %}navbar-light{% endblock %}

{% block title %}Snowtricks{% endblock %}

{% block body %}


    <section class="slice slice-xl">
        <div class="container">
            <div class="row justify-content-center" style="margin-bottom: 20px">
                <div class="col-lg-7">
                    <div class="text-center pt-lg-md">
                        <h2 class="heading h1 mb-4">
                            Code d'activation
                        </h2>
                        <p class="lead lh-180">
                            Merci de soummettre le code qui est dans l'email envoyé.
                        </p>
                    </div>
                </div>
            </div>


        </div>
    </section>

{% endblock %}
