{% extends 'base.html.twig' %}

{% block title %}Toutes les figures | SnowTricks{% endblock %}

{% block navbar %}navbar-light{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #tricks {
            opacity: 0;
        }

    </style>
{% endblock %}

{% block body %}
    <section class="slice slice-xl">
        <div class="container">
            <div class="row justify-content-center" style="margin-bottom: 20px">
                <div class="col-lg-7">
                    <div class="text-center pt-lg-md">
                        <h2 class="heading h1 mb-4">
                           Toutes les figures
                        </h2>
                        <p class="lead lh-180">
                            Toutes les figures sont présentées sur cette page. Cliquez sur une figure pour voir sa description ainsi que d'autres images ou vidéos.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row" id="tricks" data-offset="0" data-limit="8">

            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3">
                    <button id="more" type="button" class="btn btn-block btn-outline-tertiary">Voir plus <i id="load" class="fas fa-spinner fa-spin"></i></button>

                </div>
            </div>

        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script>
        $( document ).ready(function () {

            var offset = $('#tricks').data('offset');
            var limit = $('#tricks').data('limit');
            var total = 0;

            function request(offset, limit)
            {
                $.ajax({
                    url: "{{ path('ajax') }}",
                    method: "POST",
                    data: {
                        'offset': offset,
                        'limit': limit,
                    },
                    success: function (result) {
                        total = result.length;
                        if (total < limit ) {
                            $("#more").prop('disabled',true);
                        }

                        for(var i=0; i < result.length; i++)
                        {
                            var id = result[i]['id'];
                            var html =
                                "<div class=\"col-lg-3\" style=\"margin-bottom: 30px\">\n" +
                                "                    <div class=\"card\">\n" +
                                "                        <div class=\"card-image\">\n" +
                                "                           <a href=\"/tricks/"+ id +" \" > <img src=\"https://place-hold.it/270x200\" class=\"img-fluid\"></a>\n" +
                                "                        </div>\n" +
                                "                        <div class=\"card-body\">\n" +
                                "                            <div class=\"row mb-1\">\n" +
                                "                                <div class=\"col\">\n" +
                                "                                    <a href=\"/tricks /"+ id +" \"><h5 class=\"heading heading-5 strong-600\">" + result[i]['name'] +  "</h5></a>  " +
                                "                                </div>\n" +
                                "                            </div>\n" +
                                "                            {% if app.user %}\n" +
                                "                            <div class=\"col\">\n" +
                                "                                <div class=\"card-icon-actions card-icon-actions-lg text-right\">\n" +
                                "                                    <a href=\"/tricks/" + id + "/edit  \"><i class=\"fas fa-pencil-alt\"></i></a>\n" +
                                "                                    <a href=\"#\"><i class=\"fas fa-trash-alt\"></i></a>\n" +
                                "                                </div>\n" +
                                "                            </div>\n" +
                                "                            {% endif %}\n" +
                                "                        </div>\n" +
                                "                    </div>\n" +
                                "                </div>";


                            $('#tricks').append(html);
                        }
                    }
                });
                $('#load').hide();
                $('#tricks').animate({
                    opacity: 1,
                }, 1000);
            }

            request(offset, limit);
            offset = $('#tricks').data("offset") + limit;

            $('#more').on('click', function () {
                $('#tricks').animate({
                    opacity: 0,
                }, 100);
                request(offset, limit);
                offset += $('#tricks').data("offset") + limit;
            })
        })
    </script>
{%  endblock %}