{% extends 'base.html.twig' %}

{% block title %}Toutes les figures | SnowTricks{% endblock %}

{% block navbar %}navbar-light{% endblock %}

{% block body %}

    <h1>{{ trick.name }}</h1>

{% endblock %}
